@using Flowers.Domain.Entities

@if (Flower != null)
{
    <div class="card mt-5" style="width: 18rem;">
        <img src="@Flower.Image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Flower.Name</h5>
            <p class="card-text">@Flower.Description</p>
            <h4 class="badge bg-info">@Flower.Price руб.</h4>
        </div>
    </div>
}
@code {
    [Parameter]
    public Flower Flower { get; set; }
    [Parameter]
    public EventCallback<Flower> FlowersChanged { get; set; }
}
