@{
    var controller = ViewContext.RouteData.Values["controller"]?
    .ToString()?
    .ToLower()
    ?? String.Empty;
}

<a class="navbar-brand" asp-controller="home" asp-action="Index"> WebLabsV07</a>
<div class="navbar-nav">
    <a class="nav-item nav-link active @(controller=="home"?"active":"")"
       asp-controller="home"
       asp-action="index"> Лб 7 </a>
    <a class="nav-item nav-link"
       asp-controller="product"
       asp-action="index"> Каталог </a>
    <a class="nav-item nav-link"
       asp-area="admin"
       asp-page="/index"> Администрирование </a>
</div>

